# IDEs
.idea/

# Python cache / compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/

# Environment variables
.env

# Test outputs
reports/
.pytest_cache/
htmlcov/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
